header {
  background: #000;
  border: 1px solid #000;
}
header .container {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  height: 50px;
  color: #fff;
}
header .container .card {
  display: flex;
  align-items: center;
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
header .container .card img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
header .container .card p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 36.31px;
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
header .container .login {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}
header .container .register {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}

navbar .container {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #ffffff;
}
navbar .container .navbar {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 24px;
  font-size: 20px;
  font-weight: 400;
  color: text-c1-light;
  line-height: 24px;
}
navbar .container .navbar .Home {
  position: absolute;
  width: 56px;
  height: 24px;
  left: 25px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Men {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 105px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Woman {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 183px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Kid {
  position: absolute;
  width: 31px;
  height: 24px;
  left: 292px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Sport {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
  color: #000;
  text-decoration: none;
}

header {
  background: #000;
  border: 1px solid #000;
}
header .container {
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  height: 50px;
  color: #fff;
}
header .container .card {
  display: flex;
  align-items: center;
  position: absolute;
  width: 66px;
  height: 36px;
  left: 1027px;
  top: 6px;
}
header .container .card img {
  position: absolute;
  left: 0%;
  right: 53.03%;
  top: 8.33%;
  bottom: 5.56%;
}
header .container .card p {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  line-height: 36.31px;
  position: absolute;
  left: 46.97%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}
header .container .login {
  position: absolute;
  width: 91px;
  height: 32px;
  left: 1103px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}
header .container .register {
  position: absolute;
  width: 90px;
  height: 32px;
  left: 1170px;
  top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: rgb(246, 246, 246);
  line-height: 19.36px;
}

navbar .container {
  position: relative;
  width: 1280px;
  height: 50px;
  background: #ffffff;
}
navbar .container .navbar {
  position: absolute;
  width: 60px;
  height: 0px;
  left: 24px;
  font-size: 20px;
  font-weight: 400;
  color: text-c1-light;
  line-height: 24px;
}
navbar .container .navbar .Home {
  position: absolute;
  width: 56px;
  height: 24px;
  left: 25px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Men {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 105px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Woman {
  position: absolute;
  width: 70px;
  height: 24px;
  left: 183px;
  top: 16px;
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}
navbar .container .navbar .Kid {
  position: absolute;
  width: 31px;
  height: 24px;
  left: 292px;
  top: 16px;
  text-decoration: none;
  color: #000;
}
navbar .container .navbar .Sport {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 363px;
  top: 16px;
  color: #000;
  text-decoration: none;
}

.RegisterContent .container {
  position: relative;
  width: 1280px;
  height: 538px;
  background: #f8f8f8;
}
.RegisterContent .container h1 {
  position: absolute;
  width: 156px;
  height: 48px;
  left: 524px;
  top: 30px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
}
.RegisterContent .container .textBox1 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 140px;
  width: 482px;
  height: 51px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox1 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox1 input:focus {
  outline: none;
}
.RegisterContent .container .textBox1 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox2 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 701px;
  top: 140px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox2 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox2 input:focus {
  outline: none;
}
.RegisterContent .container .textBox2 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox3 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 218px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox3 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox3 input:focus {
  outline: none;
}
.RegisterContent .container .textBox3 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox4 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 696px;
  top: 218px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox4 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox4 input:focus {
  outline: none;
}
.RegisterContent .container .textBox4 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container .textBox5 {
  position: absolute;
  width: 482px;
  height: 51px;
  left: 120px;
  top: 302px;
  border-bottom: 5px solid #ae18e2;
}
.RegisterContent .container .textBox5 input {
  position: absolute;
  left: 0%;
  right: 28.22%;
  top: 0%;
  bottom: 29.41%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  background-color: transparent;
  border: 0px solid;
}
.RegisterContent .container .textBox5 input:focus {
  outline: none;
}
.RegisterContent .container .textBox5 p {
  position: absolute;
  left: 95.02%;
  right: -43.36%;
  top: 17.65%;
  bottom: 15.69%;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
  line-height: 24px;
}
.RegisterContent .container h3 {
  position: absolute;
  width: 105px;
  height: 36px;
  left: 696px;
  top: 327px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container .radio1 {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 823px;
  top: 313px;
}
.RegisterContent .container .radio1 input {
  position: absolute;
  left: 4.67%;
  right: 48.6%;
  top: 0%;
  bottom: 0%;
}
.RegisterContent .container .radio1 .labelMale {
  position: absolute;
  left: 60.71%;
  right: -51.43%;
  top: 20%;
  bottom: 8%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container .radio2 {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 1017px;
  top: 316px;
}
.RegisterContent .container .radio2 input {
  position: absolute;
  left: 4.67%;
  right: 48.6%;
  top: 0%;
  bottom: 0%;
  background-color: red;
}
.RegisterContent .container .radio2 input[type=radio] {
  background: #93e026;
}
.RegisterContent .container .radio2 .labelFemale {
  position: absolute;
  left: 60.71%;
  right: -51.43%;
  top: 20%;
  bottom: 8%;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.RegisterContent .container #submit {
  position: absolute;
  width: 291px;
  height: 50px;
  left: calc(50% - 145.5px + 206.5px);
  top: calc(50% - 25px + 204px);
  background-color: #ae18e2;
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
}
.RegisterContent .container #submit:hover {
  cursor: pointer;
}

.container {
  position: relative;
  width: 1280px;
  height: 530px;
}
.container .swiper {
  width: 1280px;
  height: 100%;
  background-image: url("../../../assets/image/image6.png");
  background-repeat: no-repeat, repeat;
  background-position: bottom center;
}
.container .swiper .swiper-wrapper .swiper-slide {
  font-size: 18px;
  display: flex;
}
.container .swiper .swiper-wrapper .swiper-slide .carousel-img {
  flex-basis: 200px;
  flex: 0 0 auto;
  width: 70%;
  text-align: center;
}
.container .swiper .swiper-wrapper .swiper-slide .carousel-img .swiper-lazy {
  transform: scaleX(-1);
}
.container .swiper .swiper-wrapper .swiper-slide .product-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 90px;
}
.container .swiper .swiper-wrapper .swiper-slide .product-info h3 {
  font-size: 40px;
  font-weight: 300;
  color: #000;
  line-height: 48px;
}
.container .swiper .swiper-wrapper .swiper-slide .product-info p {
  width: 291px;
  height: 51px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  font-size: 20px;
  font-weight: 300;
  color: #000;
  line-height: 24px;
}
.container .swiper .swiper-wrapper .swiper-slide .product-info a {
  width: 150px;
  height: 50px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  line-height: 24px;
  border: none;
  background: #f8b653;
}
.container .swiper .fa-caret-right {
  position: absolute;
  width: 66.13px;
  height: 45.71px;
  left: 1221.14px;
  top: 175px;
  font-size: 100px;
  color: rgba(241, 211, 211, 0.535);
}
.container .swiper .fa-caret-left {
  position: absolute;
  width: 66.13px;
  height: 45.71px;
  left: 18px;
  top: 183.13px;
  font-size: 100px;
  color: rgba(241, 211, 211, 0.535);
}
.container .swiper .swiper-button-next {
  opacity: 0;
}
.container .swiper .swiper-button-prev {
  opacity: 0;
}
.container .swiper .swiper-pagination {
  top: 420px;
}
.container .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.container .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #f8f8f8;
  border: 1px solid gray;
}
.container .swiper .swiper-pagination-bullet-active {
  background-color: #f8f8f8;
  border: 1px solid #000;
}
.container .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.container .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 10px;
}

.productFeature {
  background: #fffcfc;
}
.productFeature .container {
  width: 1280px;
  height: 100%;
}
.productFeature .container .product-feature-label {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
  text-align: center;
  margin-top: 30px;
}
.productFeature .container .product .product-item {
  margin: 50px;
  display: grid;
  height: 100%;
  grid-template: auto 1fr/auto 1fr auto;
  gap: 50px 60px;
  width: 33.3333333333%;
}
.productFeature .container .product .product-item .item {
  background: #f8f8f8;
  position: relative;
}
.productFeature .container .product .product-item .item .product-img {
  display: block;
  margin: 45px 57px 30px 57px;
  width: 250px;
  height: 200px;
  transition: linear 1s;
}
.productFeature .container .product .product-item .item .product-img:hover {
  transform: scaleX(-1);
}
.productFeature .container .product .product-item .item .product-name {
  margin-left: 23px;
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 29px;
}
.productFeature .container .product .product-item .item .product-description {
  margin-left: 23px;
  margin-top: 8px;
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.productFeature .container .product .product-item .item .card-bottom {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 64px;
}
.productFeature .container .product .product-item .item .card-bottom .btn-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 50%;
  height: 100%;
  border: none;
  background-color: #e1b067;
  font-size: 24px;
  font-weight: 200;
  color: #000;
  line-height: 29px;
}
.productFeature .container .product .product-item .item .card-bottom .btn-buy:hover {
  cursor: pointer;
  background-color: #ae18e2;
  transition: all 0.5s;
}
.productFeature .container .product .product-item .item .card-bottom .product-price {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedddc;
  font-size: 24px;
  font-weight: 600;
  color: #000;
  line-height: 29px;
}
.productFeature .container .product #pagination {
  background-color: bg-c1-secondary;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.productFeature .container .product #pagination a {
  list-style: none;
  background-color: #cbc9c9;
  margin-right: 20px;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  transition: all 0.5s;
  font-size: 20px;
  font-weight: 600;
  color: text-c1-dark;
  line-height: 36px;
}
.productFeature .container .product #pagination a:hover {
  cursor: pointer;
  opacity: 0.3;
}

.productdetail .container {
  width: 1280px;
  height: 500px;
}
.productdetail .container .productDeteal {
  margin-left: 100px;
  margin-top: 108px;
  display: flex;
  height: 100%;
  gap: 10%;
}
.productdetail .container .productDeteal .image {
  flex: 0 0 auto;
  width: 334px;
  height: 355px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}
.productdetail .container .productDeteal .image img {
  width: 220px;
  height: 156px;
  margin: auto;
  transition: linear 0.5s;
}
.productdetail .container .productDeteal .image:hover img {
  transform: scaleX(-1);
}
.productdetail .container .productDeteal .product-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.productdetail .container .productDeteal .product-info .product-title {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  line-height: 36px;
}
.productdetail .container .productDeteal .product-info .product-description {
  width: 503px;
  font-size: 16px;
  font-weight: 400;
  color: #140101;
  line-height: 19px;
}
.productdetail .container .productDeteal .product-info h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
  color: #1ed90e;
  line-height: 29px;
}
.productdetail .container .productDeteal .product-info .size .btn-size {
  width: 50px;
  height: 50px;
  border: none;
  margin-right: 10px;
  background-color: #cccccc;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
  line-height: 29px;
}
.productdetail .container .productDeteal .product-info .size .btn-size:hover {
  cursor: pointer;
  background-color: #ae18e2;
  transition: all 0.5s;
}
.productdetail .container .productDeteal .product-info .price {
  margin-bottom: 20px;
  margin-top: 17px;
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
  line-height: 36px;
}
.productdetail .container .productDeteal .product-info .volume {
  display: flex;
}
.productdetail .container .productDeteal .product-info .volume .plus {
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  border: none;
}
.productdetail .container .productDeteal .product-info .volume .plus:hover {
  cursor: pointer;
  background: #ae18e2;
  transition: all 1s;
  border: 3px solid #ae18e2;
}
.productdetail .container .productDeteal .product-info .volume .number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
  line-height: 36px;
}
.productdetail .container .productDeteal .product-info .volume .noplus {
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  border: none;
}
.productdetail .container .productDeteal .product-info .volume .noplus:hover {
  cursor: pointer;
  background: #ae18e2;
  transition: all 1s;
  border: 3px solid #ae18e2;
}
.productdetail .container .productDeteal .product-info .add-card {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  line-height: 29px;
  width: 175px;
  height: 64px;
  border: none;
  margin-top: 7px;
  background-image: linear-gradient(to right, #ae18e2 0, rgba(62, 32, 248, 0.9), #ae18e2 100%);
  background-size: 200%;
}
.productdetail .container .productDeteal .product-info .add-card:hover {
  background-position: right center;
  transition: all 0.5s;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

footer .container {
  height: 100%;
}