$bg-c1-primary: #ae18e2;
$bg-c1-secondary: #f8f8f8;
$bg-c2-secondary: #fff;
$bg-none: rgba(0, 0, 0, 0);

//text-color
$text-c1-primary: #ae18e2;
$text-c1-dark: #000;
$text-c1-light: #fff;
$text-c1-red: #f50e0e;
$text-c1-der: #cbc9c9;

//text-size
$text-xs: 10px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-4xl: 40px;
$text-5xl: 50px;
$text-6xl: 60px;

//font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;
