@import './variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }

  @mixin text($fs, $fw, $color, $lineHight) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    line-height: $lineHight;
  }

  @mixin position($position, $width, $hight, $top:auto, $right:auto, $bottom:auto, $left:auto) {
    position: $position;
    width: $width;
    height: $hight;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  
  // ---Header--- \\
  .header {
    height: 50px;
    background: #000;
  }
  .header .container_header {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
  }
  .header .container_header .left {
    height: 50px;
    display: flex;
    align-items: center;
  }
  .header .container_header .right {
    display: flex;
    align-items: center;
  }
  .header .container_header .right .pay {
    display: flex;
    align-items: center;
  }
  .header .container_header .right .pay .soLuong {
    display: flex;
    align-items: center;
  }
  .header .container_header .right .pay .soLuong span {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
  }
  .header .container_header .right .login_register {
    display: flex;
    margin-left: 10px;
    margin-right: 20px;
  }
  .header .container_header .right .login_register .login {
    margin-right: 20px;
  }
  .header .container_header .right .login_register .login a {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    
  }
  .header .container_header .right .login_register .register a {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
  }
  
  .menu {
    height: 50px;
  }
  .menu ul {
    height: 50px;
    margin: 0 24px;
  }
  .menu ul .sport::after {
    content: "";
    display: block;
    background-color: #000;
    width: 110%;
    height: 1px;
    margin-top: 10px;
    position: absolute;
    bottom: -5px;
    left: -3px;
  }
  .menu ul .box-kid::after {
    content: "";
    display: block;
    background-color: #000;
    width: 55%;
    height: 1px;
    margin-top: 10px;
    position: absolute;
    bottom: -5px;
    left: -3px;
  }
  .menu ul li {
    position: relative;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .menu ul li a {
    color: #000;
    font-size: 20px;
  }
  .menu ul li .gender {
    opacity: 70%;
  }
  .menu ul li .men {
    margin-right: 37px;
  }
  .menu ul li .woman {
    margin-right: 39px;
  }
  .menu ul li .kid {
    margin-right: 40px;
  }
  .menu ul li::after {
    content: "";
    display: block;
    background-color: #000;
    width: 70%;
    height: 1px;
    margin-top: 10px;
    position: absolute;
    bottom: -5px;
    left: -3px;
    transform: scale(0);
    transition: all 0.5s;
  }
  .menu ul li:hover::after {
    transform: scale(1);
  }
  .menu ul .active {
    position: relative;
  }
  .menu ul .active a {
    margin-right: 24px;
  }
  .menu ul .active::after {
    content: "";
    display: block;
    background-color: #000;
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: -3px;
    transform: scale(1);
  }

  // ---Register--- \\
  .register {
    .container {
        @include position(relative, auto, 538px);
        .title {
            padding: 30px 0;

            h1 {
                @include text($fs-xl-4, $fw-regular, $color-dark-0, $lh-xl-4);
                text-align: center;
            }
        }

        .row {
            .col-left {
                .input {
                    @extend .input-register;
                    @include position(absolute, 482px, 51px, auto, auto, auto, 120px)
                }

                @for $i from 0 to 3 {
                    .input#{($i+1)} {
                        top: 140px + 78px*($i);
                    }
                }
            }

            .col-right {
                .input {
                    @extend .input-register;
                    @include position(absolute, 482px, 51px, auto, auto, auto, 701px)
                }

                @for $i from 0 to 2 {
                    .input#{($i+1)} {
                        top: 140px + 78px*($i);
                    }
                }

                .gender {
                    @include position(absolute, 482px, 51px, 320px, auto, auto, 701px);
                    display: flex;
                    align-items: center;

                    span {
                        position: absolute;
                        top: -10px;
                        color: $color-red-1;
                        font-size:$fs-xs;
                    }

                    label {
                        @include text($fs-xl-3, $fw-regular, $color-dark-0, $lh-xl-3)
                    }

                    input[type='radio'] {
                        /* remove standard background appearance */
                        appearance: none;
                        /* create custom radiobutton appearance */
                        display: inline-block;
                        width: 65px;
                        height: 50px;
                        border-radius: 50%;
                        padding: 0;
                        /* background-color only for content */
                        border: 10px solid $color-light-8;
                        background-color: $color-light-8;

                        &:checked {
                            background-color: $color-violet-0;
                        }

                        cursor: pointer;
                        margin: 0 10px 0 30px;
                    }
                }

                button {
                    @include text($fs-xl-3, $fw-regular, $color-light-5, $lh-xl-3);
                    @include position(absolute, 291px, 50px, calc(50% - 50px/2 + 204px), auto, auto, calc(50% - 291px/2 + 206.5px));
                    text-align: center;
                    background-color: $color-violet-0;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
}

@include reponsive(xl) {
    .register {
        .container {
            @include reponsive(lg) {
                padding: 0 100px;
                padding-bottom: 50px !important;
                height: auto;
            }

            @include reponsive(md) {
                padding: 0 50px;
            }

            @include reponsive(sm) {
                padding: 0 15px;
            }

            .row {
                display: flex;
                flex-wrap: wrap;

                .col-left {
                    width: 50%;
                    padding: 0 30px;

                    @include reponsive(lg) {
                        width: 100%;
                        padding: 0;
                    }

                    .input {
                        @include position(relative, auto, 51px);
                        margin-top: 30px;
                    }
                }

                .col-right {
                    width: 50%;
                    padding: 0 30px;

                    @include reponsive(lg) {
                        width: 100%;
                        padding: 0;
                    }

                    .input {
                        @include position(relative, auto, 51px);
                        margin-top: 30px;
                    }

                    .gender {
                        @include position(relative, auto, 51px);
                        margin: 50px 0;

                        @include reponsive(sm) {
                            font-size: $fs-xl-2;
                            margin: 30px 0
                        }

                        label {
                            @include reponsive(sm) {
                                font-size: $fs-xl-2;
                            }
                        }

                        input[type='radio'] {
                            width: 25px;
                            height: 25px;
                            border-width: 5px;

                            @include reponsive(sm) {
                                margin: 0 5px 0 10px;
                            }

                            &:checked {
                                background-color: $color-violet-0;
                            }
                        }
                    }

                    button {
                        @include position(relative, 291px, 50px);

                        @include reponsive(sm) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
  }