<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.
    0"
    />
    <link rel="stylesheet" href="../css/main.min.css" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container">
        <a class="Logo" href="">
          <img src="../assets/image/image 3.png" alt="logo" />
        </a>
        <!-- <div class="header-right"> -->
        <div class="card">
          <img src="../assets/image/image 8.png" alt="cart" />
          <p class="textcart">(1)</p>
        </div>
        <div class="login">Login</div>
        <div class="register">Register</div>
        <!-- </div> -->
      </div>
    </header>
    <navbar>
      <div class="container">
        <div class="navbar">
          <a href="../view/index.html" class="Home">Home</a>

          <a href="" class="Men">Men</a>
          <a href="" class="Woman">Woman</a>
          <a href="" class="Kid">Kid</a>
          <a href="" class="Sport">Sport</a>
        </div>
      </div>
    </navbar>
    <div class="productdetail">
      <div class="container">
        <div class="productDeteal">
          <div class="image">
            <img src="../assets/image/image 5.png" alt="" />
          </div>
          <div class="product-info">
            <h3 class="product-title">Product name</h3>
            <p class="product-description">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores
              pariatur sequi esse ducimus veritatis aspernatur totam inventore,
              tempore rem impedit illum qui a quae aperiam officiis, error
              repellat sunt nulla! ( Thuộc tính Description)
            </p>
            <h4>Available size</h4>
            <div class="size">
              <button class="btn-size">38</button>
            </div>
            <div class="price">85$</div>
            <div class="volume">
              <button class="plus">+</button>
              <p class="number">1</p>
              <button class="noplus">-</button>
            </div>
            <button class="add-card">Add to card</button>
          </div>
        </div>
      </div>
    </div>
    <div class="productFeature">
      <div class="container">
        <h3 class="product-feature-label">Realate Product</h3>
        <div class="product">
          <div class="product-item">
            <div id="item-Features" class="item">
              <img
                class="product-img"
                src="../assets/image/image 5.png"
                alt=""
              />
              <h3 class="product-name">Adidas Prophere</h3>

              <p class="product-description">short descript</p>
              <div class="card-bottom">
                <button class="btn-buy">Buy now</button>

                <p class="product-price">85$</p>
              </div>
            </div>
            <!-- <div class="item">
              <img
                class="product-img"
                src="../assets/image/image 5.png"
                alt=""
              />
              <h3 class="product-name">Adidas Prophere</h3>

              <p class="product-description">short descript</p>
              <div class="card-bottom">
                <button class="btn-buy">Buy now</button>

                <p class="product-price">85$</p>
              </div>
            </div>
            <div class="item">
              <img
                class="product-img"
                src="../assets/image/image 5.png"
                alt=""
              />
              <h3 class="product-name">Adidas Prophere</h3>

              <p class="product-description">short descript</p>
              <div class="card-bottom">
                <button class="btn-buy">Buy now</button>

                <p class="product-price">85$</p>
              </div>
            </div>
            <div class="item">
              <img
                class="product-img"
                src="../assets/image/image 5.png"
                alt=""
              />
              <h3 class="product-name">Adidas Prophere</h3>

              <p class="product-description">short descript</p>
              <div class="card-bottom">
                <button class="btn-buy">Buy now</button>

                <p class="product-price">85$</p>
              </div>
            </div> -->
          </div>
          <div id="pagination"></div>
        </div>
      </div>
      <!-- <div class="container">
        <h3>- Realate Feature -</h3>
        <div class="item1">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>

            <p>85$</p>
          </div>
        </div>
        <div class="item2">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>
            <p>85$</p>
          </div>
        </div>
        <div class="item3">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>
            <p>85$</p>
          </div>
        </div>
        <div class="item4">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>
            <p>85$</p>
          </div>
        </div>
        <div class="item5">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>
            <p>85$</p>
          </div>
        </div>
        <div class="item6">
          <img src="../assets/image/image 5.png" alt="" />
          <h3>Adidas Prophere</h3>
          <p>Description</p>
          <div class="cardBooton">
            <button>Buy now</button>
            <p>85$</p>
          </div>
        </div>
      </div> -->
    </div>
    <footer>
      <div class="container">
        <img src="../assets/image/image 8 (1).png" alt="footer" />
      </div>
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"
      integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript" src="../model/Product.js"></script>

    <script src="../controllers/detail.js"></script>
    <!-- <script type="text/javascript" src="../controllers/carousel.js"></script> -->
    <script type="text/javascript" src="../controllers/index.js"></script>
  </body>
</html>
